@tailwind base;
@tailwind components;
@tailwind utilities;

.teste {
  color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);
  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%);
}

/*
  marine_blue: "hsl(213, 96%, 18%)",
  purplish_blue: "hsl(243, 100%, 62%)",
  pastel_blue: "hsl(228, 100%, 84%)",
  light_blue: "hsl(206, 94%, 87%)",
  strawberry_red: "hsl(354, 84%, 57%)",
  cool_gray: "hsl(231, 11%, 63%)",
  light_gray: "hsl(229, 24%, 87%)",
  magnolia: "hsl(217, 100%, 97%)",
  alabaster: "hsl(231, 100%, 99%)",

*/
